@font-face { 
    font-family: Calculator; 
    src:url(Calculator.ttf)
}

body{
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Calculator;
}

.calculator { 
    color: black; 
    background-color: #c8e1e6;
    width: 400px; 
    height: 550px; 
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
    display: flex; 
    flex-direction: row;
    padding: 30px;

}

.screen { 
    grid-column: 1 / 5; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 340px; 
    height: 40px; 
    color: black; 
    padding: 25px; 
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 70px;
    border: 2px solid black;

}

button {
    font-size:35px; 
    margin: 8px; 
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: #eee;

}

.grid { 
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: (100px, auto) repeat(5, 100px);
}

#equals {
    grid-row: span 4;
    height: 340px; 
}